* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: REM;
  line-height: 1;
}

body {
  background-color: #d9d9d9;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-container {
  background-color: #004225;
  height: 700px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: end;
  padding-top: 50px;
  padding-right: 40px;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 0 20px;
}

a {
  color: white;
  text-decoration: none;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: white;
  font-size: 96px;
  font-weight: 700;
}

.subtitle,
.subsubtitle,
.rating {
  margin-top: 30px;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  right: 190px;
  padding: 0;
  margin-bottom: -400px;
}

.subtitle p {
  opacity: 0.7;
}

.tower {
  position: relative;
  width: 400px;
  bottom: 245px;
  left: 150px;
}

.subsubtitle,
.rating {
  font-size: 32px;
}

.subsubtitle {
  margin-top: 15px;
  opacity: 0.7;
};

.rating {
  margin-top: 40px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: relative;
  left: 40px;
}

.arrow {
  position: relative;
  bottom: 110px;
  left: 390px;
  width: 80px;
  transform: rotate(220deg);
  filter: invert(1);
}

.service-container {
  background-color: #004225;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  border-radius: 25px;
  position: relative;
  bottom: 180px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
  margin-bottom: 0px;
}

.service-container-left {
  padding-top: 60px;
  width: 55%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}

.service-heading {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.service-subheading {
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-top: 12px;
}

.service-container-bot-left {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-top: 60px;
  row-gap: 10px;
  padding-bottom: 60px;
}

.service-container-bot-left .line {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.service-container-bot-left .single {
  text-align: left;
}

.service-container-right {
  width: 45%;
  display: flex;
  padding-top: 60px;
  padding-left: 100px;
}

.review-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);   
  gap: 40px; 
  padding: 20px; 
  margin-top: 0px;
}

.review-item {
  position: relative;
  bottom: 100px;
  background-color: #ffffff; 
  padding: 45px;            
  border: 1px solid #ddd;    
  border-radius: 20px;      
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: start;        /* Centered text */
  height: 300px;
  width: 350px;
}

.review-item .name {
  font-size: 21px;
}

.review-item .job {
  font-size: 16px;
  margin-top: 5px;
}

.review-item .star-rating {
  font-size: 16px;
  margin-top: 15px;
}

.review-item .review-text {
  font-size: 16px;
  margin-top: 15px;
}

.review-item .date {
  font-size: 16px;
  margin-top: 15px;
}
