/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "REM", sans-serif;
  line-height: 1;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container {
  background-color: #004225;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 50px 40px 0 0;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px;
}

a {
  color: white;
  text-decoration: none;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: white;
  font-size: 96px;
  font-weight: 700;
}

.subtitle,
.subsubtitle,
.rating {
  margin-top: 30px;
  color: white;
  font-weight: 700;
}

.subtitle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.subtitle p {
  opacity: 0.7;
  font-size: 40px;
}

.tower {
  position: absolute;
  width: 400px;
  margin-right: 950px;
  margin-top: 40px;
}

/* Subtitles and Ratings */
.subsubtitle,
.rating {
  font-size: 32px;
}

.subsubtitle {
  margin-top: 15px;
  opacity: 0.7;
}

.rating {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  width: 80px;
  transform: rotate(200deg);
  filter: invert(1);
  margin-top: 300px;
  margin-left: 900px;
}

.service-container {
  background-color: #004225;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  border-radius: 25px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
  margin: -180px 0 60px 0;
  flex-wrap: wrap;
  z-index: 100;
}

.service-container-left {
  width: 60%;
  padding-left: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.service-heading {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.service-subheading {
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-top: 12px;
}

.service-container-bot-left {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-top: 60px;
  row-gap: 10px;
  padding-bottom: 60px;
}

.service-container-bot-left .line {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.service-container-bot-left .single {
  text-align: left;
}

.service-container-right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-container-right img {
  height: 90%;
}

.review-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  margin-bottom: 60px;
}

.review-item {
  background-color: #ffffff;
  padding: 45px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: start;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-item .name {
  font-size: 21px;
}

.review-item .job {
  font-size: 16px;
  margin-top: 5px;
}

.review-item .star-rating,
.review-item .review-text,
.review-item .date {
  font-size: 16px;
  margin-top: 15px;
}

.contact-container {
  background-color: #004225;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  border-radius: 25px;
  margin: 60px auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
}

.contact-container .contact-title {
  font-size: 40px;
  font-weight: 700;
  color: white;
  padding: 60px 60px 10px 60px;
}

.contact-container .contact-subtitle {
  font-size: 21px;
  font-weight: 700;
  color: white;
  padding: 10px 60px;
  width: 100%;
}

.contact-container .contact-mid-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 60px;
  flex-wrap: wrap;
}

.contact-container .contact-left {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}

.contact-container .contact-middle,
.contact-container .contact-email {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
}

.contact-container .contact-email {
  margin-bottom: 20px;
}

.contact-container .contact-right {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact-container .contact-button {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  font-size: 32px;
  padding: 20px;
  background-color: #00321c;
  color: white;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.contact-container .contact-button:hover {
  opacity: 0.8;
}

.job-container {
  width: 80%;
  max-width: 1200px; 
  padding: 20px;
}

.job-nav {
  display: flex; 
  justify-content: center; 
  gap: 0; 
  white-space: nowrap; 
}

.job-nav-item:not(:last-child) {
  border-right: none; 
}

.job-nav-item {
  flex: 0 0 auto; 
  text-align: center;
  padding: 10px;
  height: 150px;
  width: 150px; 
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  box-sizing: border-box; 
}

.job-nav-item:hover {
  background-color: #007541;
  color: white;
}

.job-nav-img {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}

.job-nav-title {
  font-size: 14px;
  font-weight: bold;
}

.job-content {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto; 
  margin-top: 30px;
}

